In [13]:
%autosave 0

# Dependencies and Setup
import pandas as pd
import numpy as np

# File of purchase data
purch_file = "Resources/purchase_data.csv"

# Read purchasing file and store into Pandas data frame
purch_data = pd.read_csv(purch_file, encoding='utf-8')

Autosave disabled

In [14]:
# Player Count - total number of players

# Create player count dataframe
total_players = len(purch_data["SN"].unique())
player_cnt_df = pd.DataFrame({"Total Players" : [total_players]})

# Output player count dataframe
player_cnt_df

   Total Players
0            576

In [15]:
# Purchasing Analysis (Total) - number of unique items, average purchase price,
# total number of purchases, total revenue

# Calculate columns for dataframe
unique_items = len(purch_data["Item ID"].unique())
avg_price = purch_data["Price"].mean()
total_purchases = purch_data["Purchase ID"].count()
total_revenue = purch_data["Price"].sum()

# Create purchasing analysis dataframe
purch_analysis_df = pd.DataFrame({"Number of Unique Items" : unique_items,
                                  "Average Price" : avg_price,
                                  "Number of Purchases" : total_purchases,
                                  "Total Revenue" : total_revenue
                                 },index = [0])
                                 
purch_analysis_df["Average Price"] = purch_analysis_df["Average Price"].map("${:,.2f}".format)
purch_analysis_df["Total Revenue"] = purch_analysis_df["Total Revenue"].map("${:,.2f}".format)

# Output purchase analysis dataframe
purch_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [16]:
# Gender Demographics - percentage and count of male players,
# female players, and other / non-disclosed players

# Define a data frame grouped by gender with unique values
gender_unq_df = purch_data.groupby("Gender").nunique()

# Create the total count column
gender_demos_df = gender_unq_df.loc[:,["SN"]]
gender_demos_df = gender_demos_df.rename(columns={"SN" : "Total Count"})

# Create the percentage of players column
pct_players = gender_demos_df["Total Count"] / total_players * 100
gender_demos_df["Percentage of Players"] = pct_players.map("{:.2f}%".format)

# Output gender demographics dataframe
gender_demos_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [17]:
# Purchasing Analysis (Gender) - display the purchase count, average purchase price
# total purchase value, and average total purchase per person; all by gender

# Define a data frame grouped by gender
grouped_gender_df = purch_data.groupby(["Gender"])

# Calculate columns for dataframe
pag_purchase_ct = grouped_gender_df["Item ID"].count()
pag_avg_price = grouped_gender_df["Price"].mean()
pag_tot_value = grouped_gender_df["Price"].sum()


# Place calculated values into and output dataframe
pa_gender_df = pd.DataFrame({"Purchase Count" : pag_purchase_ct,
                             "Average Purchase Price" : pag_avg_price.map("${:,.2f}".format),
                             "Total Purchase Value" : pag_tot_value.map("${:,.2f}".format)
                            })

# Output purchasing analyis by gender dataframe
pa_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19

In [20]:
# Age Demographics - display the total count and percentage of players per age category

# Define a dataframe grouped by player

# Define age bins and their labels
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 125]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Add age ranges to the main dataframe
purch_data["Age Range"] = pd.cut(purch_data["Age"], age_bins, labels=bin_names)

# Get counts per player in each age range and the percentage of the total
grouped_player_df = purch_data.groupby("Age Range")
age_count = grouped_player_df["SN"].nunique()
player_age_pct = age_count / total_players * 100

# Place calculated values into and output dataframe
age_demos_df = pd.DataFrame({"Total Count" : age_count,
                             "Percentage of Players" : player_age_pct.map("{:.2f}%".format)
                            })

# Output age demographics dataframe
age_demos_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%